body {
  font-family: "Playwrite GB S", cursive;
  margin: 0;
  padding: 0;
  background-color: #fbf1e9;
}

.navbar {
  background-color: #44548c;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: #fbf1e9;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
}

.navbar a:hover {
  background-color: #fbf1e9;
}

.content {
  text-align: center;
  margin-top: 80px;
}

footer {
  background-color: #44548c;
  color: #fbf1e9;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

/* Make body and html take up the full viewport height */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cust-nav-bg{
  background-color: #fbf1e9;
  color: #44548c;
}
.logo-img{
  height: 100px;
}
.moto{
  position: relative;
  top:-30px;
  left: 150px;
  /* transform: rotate(-10deg); Rotate the paragraph by 15 degrees */
  font-size: 1.5rem;
  display: inline-block;
  color: #ff0000;
}
.rk-img{
  width: 400px;
  height: 400px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.rk-cust-img{
  height: 450px;
}
.descrp{
  text-align: left;
  background-color: #44548c; 
  color: #fbf1e9;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.cust-li{
  /* list-style-image: url(/right-arrow.svg); */
  /* OR */
  list-style-type: '👉';
  padding-inline-start: 1ch;
}
.cust-text{
  background-color: #FF885B;
}
.addr, .icon-text, .form-label, .form-inp{
  font-size: 1.5rem;
}
.card-img-top{
  object-fit: contain;
}
.text-right{
  text-align: right;
}
.manu-data{
  font-family:"Bungee Inline", sans-serif;
  color: #44548c;
  font-size: 2.3rem;
}
.sticky-to{
  position: fixed !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
}
.just{
  text-align: justify;
  padding: 20px;
}
.text-left{
  text-align: left;
  color: #ff0000;
}
.bg-div-col{
  background-color: #fbf1e9;
  border: none;
}
.text-diff{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hover-light{
  color: #fbf1e9;
  text-decoration: none;
}
.hover-light:hover{
  color: #007bff;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .navbar a ,.moto,.heading,.manu-data, .just{
    font-size: 1rem;
  }
  .moto{
    left: 50px;
    top: -25px
  }
  .just{
    font-size: 0.9rem;
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
  }
  .logo-img{
    height: 50px;
  }
  .rk-img{
    width: 300px;
    height: 300px;
  }
  .rk-cust-img{
    height: 450px;
  }
  .descrp{
    border: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; 
  }
  .manu-data-div{
    border: 2px solid #44548c;
    border-left: none;
    border-right: none;
  }
}

@media only screen and (max-width: 350px) {
  *,body{
    font-size: 1rem;
  }
}



