{% extends "base.html" %} {% block title %}Home - Mamta Soap Works{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="heading" id="homePage">
        <img
          src="{{ url_for('static', filename='images/logo-removebg.png') }}"
          class="logo-img"
        />
        Mamta Soap Works
      </h1>
      <p class="moto">Stain Never Sustain</p>
    </div>
  </div>

  <!-- Img and Manu-data -->
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center my-3">
      <img
        src="{{ url_for('static', filename='images/rk_soap.jpeg') }}"
        class="d-block rk-img"
        alt="Rk soap with water"
      />
    </div>
    <div class="col-md-8 my-3">
      <h2>Manufacturer Of</h2><br/>
      <div class="manu-data-div"><br/>
        <h3 class="text-right manu-data animate__animated animate__fadeInLeft">FABRIC WASHING SOAP</h3><br/>
        <h3 class="text-left manu-data animate__animated animate__fadeInRight">DISHWASH DETERGENT LIQUID</h3><br/>
        <h3 class="text-right manu-data animate__animated animate__fadeInLeft">DETERGENT POWDER</h3><br/>
        <h3 class="text-left manu-data animate__animated animate__fadeInRight">FABRIC CLEANER DETERGENT LIQUID</h3>
      </div>
    </div>
  </div>
  
  <!-- Our Vision -->
  <br/><br/>
  <div class="row">
    <div
      class="col-md-4 d-flex justify-content-center my-3 align-items-center animate__animated animate__fadeInRight">
    <div class="cust-text rk-img justify-content-center "><h1 class="my-4">OUR VISION</h1>
      <p class="my-5 just">To be a trusted leader in the soap industry, where <b>quality and service</b> are at the heart of everything we do. We are committed to crafting superior products that enrich everyday lives while delivering unmatched customer satisfaction, ensuring that excellence and integrity define our brand. </p>
    </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center my-3">
      <img
        src="{{ url_for('static', filename='images/soap_tshirt.jpeg') }}"
        class="d-block rk-img"
        alt="Rk soap with water"
      />
    </div>
    <div class="col-md-4 d-flex justify-content-center my-3">
      <img
        src="{{ url_for('static', filename='images/girl.JPG') }}"
        class="d-block rk-img animate__animated animate__fadeInUp"
        alt="Rk soap with water"
      />
    </div>
  </div>

  <br /><br />
  <!-- img and right desc -->
  <div class="row my-3">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="{{ url_for('static', filename='images/12----5X7-removebg-preview.png') }}"
        class="d-block rk-img rk-cust-img"
        alt="Rk soap bottles img"
      />
    </div>
    <div class="col-md-6 descrp">
      <br />
      <p class="text-center my-3"><b>What sets us apart?</b></p>
      <br />
      <ul class="mx-4">
        <li class="cust-li">
          With over four decades of expertise in soap manufacturing, we have
          proudly served since 1978.
        </li>
        <br />
        <li class="cust-li">
          We are committed to ethical production practices, using only
          plant-based oils and without any animal fat derivatives.
        </li>
        <br />
        <li class="cust-li">
          Our products undergo rigorous quality control to ensure the highest
          standards of excellence.
        </li>
        <br />
        <li class="cust-li">
          We ensure timely delivery, complete with detailed invoicing and
          reliable service.
        </li>
        <br />
        <li class="cust-li">
          Our extensive product range includes a variety of soap formulations,
          including detergent liquids, washing powders and bars, to meet diverse needs.
        </li>
        <br />
      </ul>
    </div>
  </div>
</div>


<!-- Start of products  -->
<br /><br />
<div class="container-fluid">
  <h1 id="productsPage">Our Products</h1>
  <br />
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center my-4">
      <div class="card bg-div-col" style="width: 20rem">
        <img
          src="{{ url_for('static', filename='images/10----5X7.jpg') }}"
          width="18rem"
          height="300px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body bg-div-col">
          <h5 class="card-title">R.K Dishwasing Liquid</h5>
        </div>
        <ul class="list-group list-group-flush bg-div-col">
          <li class="list-group-item bg-div-col">An item</li>
          <li class="list-group-item bg-div-col">A second item</li>
          <li class="list-group-item bg-div-col">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 20rem">
        <img
          src="{{ url_for('static', filename='images/6----5X7.jpg') }}"
          width="18rem"
          height="300px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Ramesh Washing Soap</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 20rem">
        <img
          src="{{ url_for('static', filename='images/14----5X7.jpg') }}"
          width="18rem"
          height="300px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">R.K. Fabric Cleaner</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 20rem">
        <img
          src="{{ url_for('static', filename='images/31----5X7.jpg') }}"
          width="18rem"
          height="300px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">R.K. Dishwasing Liquid</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 20rem">
        <img
          src="{{ url_for('static', filename='images/1----5X7.jpg') }}"
          width="18rem"
          height="300px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">R.K. Washing Soap</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Start of Contact Us Page -->
<br /><br />
<div class="container-fluid">
  <h1 id="contactPage">Contact Us</h1><br/><br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="col-md-4 text-center">
      <h2><b>Email & Phone</b></h2><br/>
      <p class="addr">
        Mamta Soap Works<br />
        Gajanand Compound<br />
        Dhobi Ghat Road<br />
        Ulhasnagar 421001<br />
      </p><br/><br/><br/><br/><br/><br/>
    </div>
    <div class="col-md-4">
      <h2><b>Address</b></h2><br/>
      <p class="addr">
        Mamta Soap Works<br />
        Gajanand Compound<br />
        Dhobi Ghat Road<br />
        Ulhasnagar 421001<br />
      </p><br/><br/><br/><br/><br/><br/>
    </div>
    <div class="col-md-4">
      <h2><b>Address</b></h2><br/>
    <p class="addr">
      Mamta Soap Works<br />
      Gajanand Compound<br />
      Dhobi Ghat Road<br />
      Ulhasnagar 421001<br />
    </p><br/><br/><br/><br/><br/><br/>
    </div>
    
  </div>
</div>
{% endblock %}
